<footer>
  <div class="bg-foot">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-xs-12">
          <div class="desc-view">
            <img src="/images/foot-logo.png" alt="">
            <p>We make technology work</p>
            <div class="address">
              <p><img src="/images/map.png"  alt=""> 321 Awesome New York</p>
              <p><img src="/images/mail.png"  alt=""> icototes@gmail.com</p>
              <p><img src="/images/call.png"  alt=""> 1800-1212-1212 , 256226-25</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12">
          <h2>Popular News</h2>
          <% @news_feeds.each do |news| %>
            <div class="news-tag">
              <a href="#"><img src="/images/arrow.png" alt=""> <%= news[1]['published_at'].strftime("%d %b, %Y") %></a>
              <p><%= news[1]['title'].html_safe %></p>
            </div>
          <% end %>
        </div>
        <div class="col-sm-4 col-xs-12">
          <h2>Quick Links</h2>
          <ul class="links">
            <li><a href="#"><img src="/images/arrow.png" alt=""> Our Team</a></li>
            <li><a href="#"><img src="/images/arrow.png" alt=""> Our Investor</a></li>
            <li><a href="#"><img src="/images/arrow.png" alt=""> Contact Info</a></li>
            <li><a href="#"><img src="/images/arrow.png" alt=""> Terms of Service</a></li>
            <li><a href="#"><img src="/images/arrow.png" alt=""> Privacy Policy</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <ul class="scoial-view">
            <li>
              <a href="https://www.facebook.com/ICOTotes-734660696740406/">
                <img src="/images/facebook.png" alt="">
                <div class="animtied">
                  <div class="circle-1"></div>
                  <div class="circle-2"></div>
                </div>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/icototes">
                <img src="/images/twitter.png" alt="">
                <div class="animtied">
                  <div class="circle-1"></div>
                  <div class="circle-2"></div>
                </div>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/company/icototes/">
                <img src="/images/linkedin.png" alt="">
                <div class="animtied">
                  <div class="circle-1"></div>
                  <div class="circle-2"></div>
                </div>
              </a>
            </li>
            <li>
              <a href="https://in.pinterest.com/icototes">
                <img src="/images/printrest.png" alt="">
                <div class="animtied">
                  <div class="circle-1"></div>
                  <div class="circle-2"></div>
                </div>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/icototes/">
                <img src="/images/instagram.png" alt="">
                <div class="animtied">
                  <div class="circle-1"></div>
                  <div class="circle-2"></div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
