<nav class="navbar-fixed-top transparrent-bg">
  <div class="container">
    <div id="menuzord" class="menuzord red"> <a href="home-1.html" class="menuzord-brand"><img class="changeable" src="/images/logo-2.png" alt=""></a>
      <ul class="menuzord-menu mp_menu">
        <% if launcher_signed_in? %>
          <li class="theme-btn-view yellow-bg" >
            <%= link_to "Sign out",destroy_launcher_session_path,method: :delete %>
          </li>
        <% else %>
          <li class="theme-btn-view black-bg"><a href="<%= new_launcher_session_path %>">Login</a></li>
          <li class="theme-btn-view yellow-bg" ><a href="<%= new_launcher_registration_path %>">Register</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>