<% if comment.id.present? %>
	<div class="row">
		<div class="col-xs-12">
			<%= comment.description %>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-xs-offset-6">
			<strong><%= comment.launcher.email %></strong>
		</div>
	</div>
<% end %>