<table class="list-table table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Coin Name</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
		<% @declined_icos.each_with_index do |coin_ico,index| %>
			<tr>
			  <th scope="row"><%= index+1 %></th>
			  <td><%= coin_ico.coin_name %></td>
			  <td><a href="#" class="decline">Declined</a></td>
			  <td><%= link_to "Approve", approve_ico_path(coin_ico),class: "approve" %></td>
			</tr>
		<% end %>
	</tbody>
</table>