<br>
<br>
<br>
<br>
<br>

<div class="container white">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#pending">Pending</a></li>
    <li><a data-toggle="tab" href="#approved">Approved</a></li>
    <li><a data-toggle="tab" href="#declined">Declined</a></li>
  </ul>

  <div class="tab-content">
    <div id="pending" class="tab-pane fade in active">
      <h3>Pending Icos</h3>
      <%= render partial: 'ico_list' %>
    </div>
    <div id="approved" class="tab-pane fade">
      <h3>Approved Icos</h3>
      <%= render partial: 'approved_icos' %>
    </div>
    <div id="declined" class="tab-pane fade">
      <h3>Declined Icos</h3>
      <%= render partial: 'declined_icos' %>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h3>Menu 3</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
  </div>
</div>


		
  </tbody>
</table>