<div class="fix-view-banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 frm-wrap">
        <!-- multistep form -->
     <!-- multistep form -->
        <%= form_with(model: coin_ico, local: true,html: { multipart: true ,id: 'msform'}) do |form| %>
          <!-- progressbar -->
          <ul id="progressbar">
            <li class="active">ICO Details</li>
            <li>Web & Social Info</li>
            <li>ICO profile info</li>
            <li>Token Sale Duration</li>
          </ul>
          <!-- fieldsets -->
          <fieldset>
            <h2 class="fs-title">Create your account</h2>
            <h3 class="fs-subtitle">This is step 1</h3>
            <div class="frm-line">
              <div class="frm-half">
                <div class="input">
                  <%= form.hidden_field :launcher_id, id: :coin_ico_launcher_id,value: current_launcher.try(:id) %>
                  <input type="text" class="input-field" name="coin_ico[coin_name]">
                  <label class="input-label input-label-juro">Ico Name</label>
                </div>
              </div>
              <div class="frm-half">
                <div class="input">
                  <input type="text" class="input-field" name="coin_ico[rate]">
                  <label class="input-label input-label-juro">Rate</label>
                </div>
              </div>
            </div>
            <div class="frm-line">
               <div class="frm-half">
                <div class="input">
                  <input type="text" class="input-field" name="coin_ico[total_supply]">
                   <label class="input-label input-label-juro">Total Supply</label>
                </div>
               </div>
                <div class="frm-half">
                <div class="input">
                  <input type="text" class="input-field" name="coin_ico[token_symbol]">
                  <label class="input-label input-label-juro">Token Symbol</label>
                </div>
               </div>
            </div>
            <input type="button" name="next" class="next action-button" value="Next" />
          </fieldset>
          <fieldset>
            <h2 class="fs-title">Social Profiles</h2>
            <h3 class="fs-subtitle">Your presence on the social network</h3>
             <div class="input">
                  <input type="text" class="input-field" name="coin_ico[website]">
                  <label class="input-label input-label-juro">Website</label>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="coin_ico[description]" placeholder="Description"></textarea>
            </div>
            <div class="input">
              <input type="text" class="input-field" name="coin_ico[presentation_link]">
               <label class="input-label input-label-juro">YouTube video link</label>
            </div>
            <div class="frm-line">
               <div class="frm-third">
                <div class="input">
                  <input type="text" class="input-field" name="coin_ico[facebook_link]">
                   <label class="input-label input-label-juro">Facebook Link</label>
                </div>
               </div>
                <div class="frm-third">
                <div class="input">
                  <input type="text" class="input-field" name="coin_ico[twitter_link]">
                   <label class="input-label input-label-juro">Twitter Link</label>
                </div>
               </div>
                <div class="frm-third">
                <div class="input">
                  <input type="text" class="input-field" name="coin_ico[telegram_link]">
                   <label class="input-label input-label-juro">Telegram Link</label>
                </div>
               </div>
            </div>
            <input type="button" name="previous" class="previous action-button" value="Previous" />
            <input type="button" name="next" class="next action-button" value="Next" />
          </fieldset>
          <fieldset>
            <h2 class="fs-title">Social Profiles</h2>
            <h3 class="fs-subtitle">Your presence on the social network</h3>
              <div class="frm-line">
               <div class="frm-third">
                  <div class="upload-view">
                       Upload Coin Logo
                      <input type="file" name="coin_ico[coin_logo]" accept="image/x-png,image/gif,image/jpeg">
                    </div>
                </div>
                <div class="frm-third">
                  <div class="upload-view">
                       Upload Cover Photo
                      <input type="file" name="coin_ico[cover_photo]" accept="image/x-png,image/gif,image/jpeg">
                    </div>
                </div>
                <div class="frm-third">
                 <div class="upload-view">
                       Upload White Paper
                      <input type="file" name="coin_ico[white_paper]" accept="application/pdf">
                      </div>
                </div>
            </div>
            <div class="form-group">
              <label>Country</label>
                <select class="form-control" name="coin_ico[country]">
                  <option>United State</option>
                  <option>United Kingdom</option>
                  <option>Canada</option>
                  <option>Afrika</option>
                </select>
              </div>
              <div class="form-group">
                <div class="frm-full">
                  <label>Accepts</label>
                  <select class="selectpicker" multiple name="coin_ico[accepts][]">
                    <option>Mustard</option>
                    <option>Ketchup</option>
                    <option>Relish</option>
                    <option>Mustard</option>
                    <option>Ketchup</option>
                    <option>Relish</option>
                    <option>Mustard</option>
                    <option>Ketchup</option>
                    <option>Relish</option>
                  </select>
                </div>
              </div>
              
            <input type="button" name="previous" class="previous action-button" value="Previous" />
            <input type="button" name="next" class="next action-button" value="Next" />
          </fieldset>
          <fieldset>
            <h2 class="fs-title">Personal Details</h2>
            <h3 class="fs-subtitle">We will never sell it</h3>
              <div class="form-group">
                <label>No Of Round</label>
                <select class="form-control" id="noOfRound">
                  <option value="1">Round 1</option>
                  <option value="2">Round 2</option>
                  <option value="3">Round 3</option>
                </select>
              </div>
              <div class="in-title">Round</div>
              <div class="frm-line round1 release-round">
                <div class="frm-half">
                  <label>* Start Date </label>
                  <div class="clearfix"></div>
                  <div class="form-group">
                    <div class="input-group date">
                      <input type="text" class="form-control" name="coin_ico[rounds][1][start_date]" id="startdatepicker1">
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="frm-half">
                  <label>* End Date </label>
                  <div class="clearfix"></div>
                  <div class="form-group">
                    <div class="input-group date">
                      <input type="text" class="form-control" name="coin_ico[rounds][1][end_date]" id="enddatepicker1">
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frm-line round2 release-round" style="display: none;">
                <div class="frm-half">
                  <label>* Start Date </label>
                  <div class="clearfix"></div>
                  <div class="form-group">
                    <div class="input-group date">
                      <input type="text" class="form-control" name="coin_ico[rounds][2][start_date]" id="startdatepicker2" disabled>
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="frm-half">
                  <label>* End Date </label>
                  <div class="clearfix"></div>
                  <div class="form-group">
                    <div class="input-group date">
                      <input type="text" class="form-control" name="coin_ico[rounds][2][end_date]" id="enddatepicker2" disabled>
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frm-line round3 release-round" style="display: none;">
                <div class="frm-half">
                  <label>* Start Date </label>
                  <div class="clearfix"></div>
                  <div class="form-group">
                    <div class="input-group date">
                      <input type="text" class="form-control" name="coin_ico[rounds][3][start_date]" id="startdatepicker3" disabled>
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="frm-half">
                  <label>* End Date </label>
                  <div class="clearfix"></div>
                  <div class="form-group">
                    <div class="input-group date">
                      <input type="text" class="form-control" name="coin_ico[rounds][3][end_date]" id="enddatepicker3" disabled>
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            <input type="button" name="previous" class="previous action-button" value="Previous" />
            <!-- <button type="submit" class="action-button">submit-1</button> -->
            <input type="submit" name="submit" class="action-button" value="Submit" />
          </fieldset>
        <% end %>
      </div>
    </div>
  </div>
</div>