
.coin-img {display: inline-block;width: 120px;height: 120px;border-radius: 100%;border: 5px solid #fff;box-shadow: 0 0 0 3px #fa0;overflow: hidden;}
.coin{padding: 50px 0;}
.coin-img img{width: 100%;}
span.coin-deatisl{width: calc(100% - 250px);display: inline-block;padding-left: 40px;padding-right: 20px;}
.coin > ul > li {margin-bottom: 20px;box-shadow: 0 7px 14px 1px rgba(100,125,150,.15);padding: 15px 40px;display: flex;align-items: center;border: 1px solid #f1f1f1;}
a{transition: all 0.3s;}
.hero-text{font-size: 28px !important; margin-top:0;animation-duration: 2.5s;animation-fill-mode: both;animation-iteration-count: infinite;animation-name: bounce;
    background: -moz-linear-gradient(left, #000 0%, #ffaa00 100%);
    background: -webkit-linear-gradient(left, #000 0%, #ffaa00  100%);
    background: linear-gradient(to right, #000 0%, #ffaa00  100%);
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5496cf', endColorstr='#7db9e8', GradientType=1); */
    position: relative;
    border: 0;
    border-radius: 50px;
    padding: 20px;
    transition: all 0.4s;
    box-shadow: 0px 10px 20px rgba(255, 170, 0,0.6);
}
a:hover .hero-text{
    background: -moz-linear-gradient(left, #ffaa00 0%, #000 100%);
    background: -webkit-linear-gradient(left, #ffaa00 0%, #000  100%);
    background: linear-gradient(to right, #ffaa00 0%, #000  100%);
    box-shadow: 0px 10px 20px rgba(0, 0, 0,0.6);
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}

.coin p {margin: 0;}
.display-table-cell.bottom-view{vertical-align: bottom;}
.join-us-icon .ico {height: 90px;padding: 2px;width: 90px;border-radius: 100%;overflow: hidden;}
.remove-top-space{margin-top: 0px;}
h2.title-st {margin: 0;font-size: 20px;color: #fa0;}
.list-o p{margin: 0;margin-top: 5px;}
.link-btn{width:100%;display: block;}
a.black-back.link-btn:hover {background: #333;color: #fff;}
.token-sell .blog-content h3 {color: #ffab00;font-weight: 600;}
.token-sell .feature-images{text-align: center;}


#clients .customer-name {font-size: 32px;margin-top: 20px;color: #ffab00;}
#clients .testimonials p {max-width: 800px;margin: 0 auto;margin-top: 20px;}
.mp_menu {padding-right: 0 !important;}
.img-logo {width: 130px;height: 130px;margin: 0 auto;border-radius: 100%;}


.menuzord-menu > li {padding-top: 25px;margin-left: 10px;}
.menuzord-menu > li a {padding: 0 !important;}
.menuzord-menu > li > a {padding: 15px 25px !important;}
.nav_border .menuzord-menu li.theme-btn-view.black-bg a {background: #333333;color: #fff !important;}
.menuzord-menu li.theme-btn-view.black-bg a {background: #fff;color: #ffaa00 !important;}
.menuzord-menu li.theme-btn-view.black-bg a:hover{background: #ffaa00;color: #333333 !important;}
.menuzord-menu li.theme-btn-view.yellow-bg a{background: #ffaa00;}
.menuzord-menu li.theme-btn-view.yellow-bg a:hover{background: #333333;color: #fff !important;}
.menuzord-menu.menuzord-right{width:auto;}

.feature-coin {width: 130px;height: 130px;margin: 0 auto;margin-top: -65px;border: 4px solid #fff;z-index: 9;border-radius: 100%;position: relative;}

.coin ul.coin-rate {max-width: 400px;border-top: 1px solid #f1f1f1;border-bottom: 1px solid #f1f1f1;margin-bottom: 10px;}
.coin ul.coin-rate li {display: inline-block;transition: all 0.6s ease 0s;font-size: 13px;font-weight: 600;}
.coin ul.coin-rate li a {display: block;text-decoration: none;color: #ffaa00;}
.coin ul.coin-rate li a:hover {color: #333333;}
.coin ul.coin-rate li.comments {float: right;}
.coin ul.coin-rate li.comments a {color: #000000;}
span.coin-deatisl h2 {margin: 15px 0px;color: #000;font-size: 26px;font-weight: 700;letter-spacing: 1px;}
.coin > ul > li .btn-style-pinks-nav {display: block;}

.frm-wrap .frm-line{margin:0 -10px 25px;}
.frm-wrap .frm-line:after{clear:both;display:block;content:'';}
.frm-wrap .frm-line:last-child{margin-bottom:0;}
.frm-wrap .frm-full{width:100%;float:none;padding:0 10px;}
.frm-wrap .frm-half{width:50%;float:left;padding:0 10px;}
.frm-wrap .frm-third{width:33.33%;float:left;padding:0 10px;}
.frm-wrap .form-group{margin:0;}
.frm-wrap label{font-size:14px;font-weight:400;margin:0 0 10px;line-height:14px;}
.frm-wrap .form-control{margin:0;padding:10px 15px;height:auto;box-shadow:none;border:solid 1px #ddd;background:#fff;font-size:14px;color:#333;line-height:18px;border-radius:3px;}
.frm-wrap select.form-control{padding:9px 15px 8px;}
.upload-view {position: relative;height: 50px;text-align: center;line-height: 50px;border: 1px dotted #afafaf;cursor: pointer;font-size: 14px;color: #828282;transition: all 0.3s;}
.upload-view:hover {border-style: solid;color: #1f2b31;}
.upload-view input[type="file"] {position: absolute;top: 0;left: 0;width: 100%;opacity: 0;cursor: pointer;}

.addon-tag {padding: .5rem .75rem;margin-bottom: 0;font-size: 1rem;font-weight: 400;line-height: 1.25;text-align: center;background-color: #eceeef;border: 1px solid #ddd;border-radius: .25rem;width: 45px;display: inline-block;height: 40px;line-height: 30px;font-size: 16px;color: #464a4c;border-bottom-right-radius: 0;border-top-right-radius: 0;border-right: 0;}
.addon-view {float: left;width: 100%;}
.addon-view input.form-control {width: calc(100% - 45px);float: right;border-bottom-left-radius: 0;border-top-left-radius: 0;}

.btn-group.bootstrap-select.show-tick {width: 100% !important;}
button.btn.dropdown-toggle.btn-default {height: 40px;}
.in-title {font-size: 20px;font-weight: 600;margin-bottom: 15px;}
.btn-wrap.mar {margin-bottom: 50px;text-align: center;}
.btn-wrap button.com-btn {background: #ffab00;height: 50px;width: 150px;color: #fff;border: 0;text-transform: uppercase;font-size: 14px;font-weight: 600;transition: all 0.3s;}
.btn-wrap button.com-btn:hover { background:#333333;}


/*form styles*/
#msform {width: 1000px;margin: 50px auto;text-align: center;position: relative;min-height: 700px;overflow: hidden;}
#msform fieldset {background: white;border: 0 none;border-radius: 3px;box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);padding: 30px 30px;box-sizing: border-box;width: 80%;margin: 0 10%;	/*stacking fieldsets above each other*/position: absolute;max-height: 570px;overflow: auto;	}/*Hide all except first fieldset*/#msform fieldset:not(:first-of-type) {display: none;}


/*inputs*/
/*#msform input, #msform textarea {padding: 15px;border: 1px solid #ccc;border-radius: 3px;margin-bottom: 10px;width: 100%;box-sizing: border-box;font-family: montserrat;color: #2C3E50;font-size: 13px;}*/
/*buttons*/
#msform .action-button {width: 100px;background: #ffab00;font-weight: bold;color: white;border: 0 none;border-radius: 1px;cursor: pointer;padding: 10px 5px;margin: 10px 5px;outline: none;}
#msform .action-button:hover, #msform .action-button:focus {box-shadow: 0 0 0 2px white, 0 0 0 3px #ffab00;}/*headings*/
.fs-title {font-size: 18px;text-transform: uppercase;color: #ffab00;margin-bottom: 10px;font-weight: 600;}
.fs-subtitle {font-weight: normal;font-size: 13px;color: #666;margin-bottom: 20px;}
/*progressbar*/
#progressbar {margin-bottom: 30px;overflow: hidden;/*CSS counters to number the steps*/counter-reset: step;}
#progressbar li {list-style-type: none;color: #333333;text-transform: uppercase;font-size: 12px;width: 25%;float: left;position: relative;font-weight: 600;}
#progressbar li:before {content: counter(step);counter-increment: step;width: 50px;line-height: 50px;display: block;font-size: 16px;color: #fff;background: #333333;border-radius: 100%;margin: 0 auto 5px auto;}

/*progressbar connectors*/
#progressbar li:after {content: '';width: 100%;height: 2px;background: #333333;position: absolute;left: -50%;top: 25px;z-index: -1; /*put it behind the numbers*/}
#progressbar li:first-child:after {/*connector not needed before the first step*/content: none; }
/*marking active/completed steps green*//*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{background: #ffab00;color: white;}
#progressbar li.active {color: #ffab00;}

.carousel-inner ul li {border: 1px solid #ddd;box-shadow: none;}




@media(max-width: 1024px){
	#msform{width: 100%;}
}

@media(max-width: 768px){
    .menuzord-menu.menuzord-right {width: 100%;overflow: hidden;}
}

@media(max-width: 767px){
    .particle-bg{height: 650px;}
    span.coin-deatisl{width: 100%;}
    .coin > ul > li{display: block;text-align: center;padding: 15px;}
    span.coin-deatisl{padding: 0;}
    .coin ul.coin-rate{text-align: left;max-width: 100%;}
    .frm-wrap .frm-third{width: 100%; margin-bottom: 25px;}
    .frm-wrap .frm-half{width: 100%; margin-bottom: 25px;}
    #msform fieldset{width: 95%;margin: 0 2.5%;}
    #progressbar li:before{width: 40px;line-height: 40px;}
    #progressbar li:after{top: 20px}
    #progressbar li{font-size: 10px;line-height: 15px;}
}

@media(max-width: 400px){
    a.menuzord-brand img {width: 165px;margin-top: 8px;}
}