@charset "utf-8";
/* CSS Document */


::selection{background:#02a0e0;color:#fff;}
body{font-family: 'Bree Serif', serif;overflow-x:hidden;background-color: #0b0c21;}

a, button, input{-webkit-transition: all 0.3s ease;-o-transition:all 0.3s ease;transition: all 0.3s ease;}
a, a:hover, a:focus{text-decoration:none;outline:none;}
button, button:hover, button:focus, button:active, input, input:hover, input:focus{outline:none;}

a{color:#8cc63e;}
a:hover{color:#00b7e4;}
a.link{color:#00b7e4;border-bottom:dotted 1px #00b7e4;}
a.link:hover{color:#00b7e4;border-bottom:solid 1px #00b7e4}

ul{margin:0;padding:0;list-style:none;}
ul.inline li{display:inline-block;}
ul.block li{display:block;}

.com-btn{border:none;border-bottom:solid 3px #7db432;color:#fff;background:#8cc63e;border-radius:3px;padding:10px 25px;font-weight:400;text-transform:uppercase;text-decoration:none;line-height:20px;font-size:14px;display:inline-block;text-align:center;}
.com-btn:hover{color:#fff;background:#7db432;}
.red-btn{border:none;border-bottom:solid 3px #d12c2c;color:#fff;background:#e33d3d;border-radius:3px;padding:10px 25px;font-weight:400;text-transform:uppercase;text-decoration:none;line-height:20px;font-size:14px;display:inline-block;text-align:center;}
.red-btn:hover{color:#fff;background:#d12c2c;}

.flex-box{display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-box-pack: center;-webkit-justify-content: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;}

.fix-img{position: absolute;left: 50%;top: 50%;-webkit-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);transform: translate(-50%,-50%);}

header{-webkit-transition: all 0.4s ease;transition: all 0.4s ease;background:transparent;position: fixed;width: 100%;z-index:100;top:0;}
header.sticky {
    background: rgba(0, 0, 0, 0.9);
}
.sticky .navbar-default{box-shadow:0px 3px 5px rgba(255, 255, 255, 0.2)}
.navbar-default{margin:0;background:none;border:0;border-radius:0;box-shadow:none;}
.navbar-default .navbar-toggle {
    border: none;
    color: #fff;
    background: #8cc63e;
    border-radius: 3px;
    padding: 10px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    margin-top: 36px;
    background: rgba(1,230,173,1);
    background: -moz-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(1,230,173,1)), color-stop(100%, rgba(0,178,232,1)));
    background: -webkit-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);
    background: -o-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);
    background: -ms-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);
    background: linear-gradient(to right, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01e6ad', endColorstr='#00b2e8', GradientType=1 );
}
.navbar-default .navbar-toggle .icon-bar{background:#fff;}

.navbar-default .navbar-brand{height:auto;-webkit-transition: all 0.3s ease;-o-transition:all 0.3s ease;transition: all 0.3s ease;}
.navbar-default .navbar-nav{margin-top: 30px;}
.navbar-default .navbar-nav>li {margin-left: 45px;}
.navbar-default .navbar-nav>li:first-child{margin-left:0;}
.navbar-default .navbar-nav>li>a {color: #fff;font-weight: 400;font-size: 22px;padding: 15px 25px;background: rgba(255,255,255,0.1);box-shadow: 0px 0px 10px 2px rgba(255,255,255,0.3);border-radius: 10px;}
.navbar-default .navbar-nav>li>a>svg{height:16px;vertical-align:-2px;margin:0 5px 0 0;}
.navbar-default .navbar-nav>li>a path{fill:#222;}
.navbar-default .navbar-nav>li.btn-view{margin-left:30px;}
.navbar-default .navbar-nav>li.btn-view>a{border:none;border-bottom:solid 3px #7db432;color:#fff;background:#8cc63e;border-radius:3px;padding:10px 25px;text-decoration:none;line-height:20px;font-size:14px;}
.navbar-default .navbar-nav>li.btn-view>a:hover{color:#fff;background:#7db432;}
.navbar-default .navbar-nav>li>a:hover{color:#00b9e1;background:none;}
.navbar-default .navbar-nav>li>a:hover path{fill:#8cc63e;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {color: #00b7e4;background: none;box-shadow: 0px 0px 10px 2px rgba(0, 180, 230,0.5);}
.navbar-default .navbar-nav>.active>a path, .navbar-default .navbar-nav>.active>a:focus path, .navbar-default .navbar-nav>.active>a:hover path{fill:#8cc63e;}
header.sticky .navbar-default .navbar-brand{padding:7px 10px}
header.sticky .navbar-default .navbar-nav{margin-top:20px;}
header.sticky .navbar-default .navbar-toggle{margin-top:30px;}

.banner {color: #fff;position: absolute;top: 0;left: 0;right: 0;bottom: 0;z-index: 9;}
.owl-carousel{overflow: hidden;}
.fix-view .owl-carousel {position: absolute;left: 0;top: 0;right: 0;bottom: 0;}
.banner.flex-box {flex-direction: column;}
.banner h1 {font-size: 97px;}
.banner p {font-size: 36px;}
.banner a {display: block;width: 570px;text-align: center;height: 120px;background: rgba(1,230,173,1);background: -moz-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);background: -webkit-gradient(left top, right top, color-stop(0%, rgba(1,230,173,1)), color-stop(100%, rgba(0,178,232,1)));background: -webkit-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);background: -o-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);background: -ms-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);background: linear-gradient(to right, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01e6ad', endColorstr='#00b2e8', GradientType=1 );color: #fff;border-radius: 90px;font-size: 52px;line-height: 115px;text-transform: uppercase;margin-top: 80px;box-shadow: 0px 0px 15px 10px rgba(76, 234, 232, 0.4);transition: all 0.3s;}
.banner a:hover {box-shadow: 0px 0px 15px 0px rgba(76, 234, 232, 0.4);background: rgba(0,178,232,1);
background: -moz-linear-gradient(left, rgba(0,178,232,1) 0%, rgba(1,230,173,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,178,232,1)), color-stop(100%, rgba(1,230,173,1)));
background: -webkit-linear-gradient(left, rgba(0,178,232,1) 0%, rgba(1,230,173,1) 100%);
background: -o-linear-gradient(left, rgba(0,178,232,1) 0%, rgba(1,230,173,1) 100%);
background: -ms-linear-gradient(left, rgba(0,178,232,1) 0%, rgba(1,230,173,1) 100%);
background: linear-gradient(to right, rgba(0,178,232,1) 0%, rgba(1,230,173,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b2e8', endColorstr='#01e6ad', GradientType=1 );}

.fix-view{min-height: 100vh;position: relative;}
.fix-view .owl-item{min-height: 100vh}

.coin-box{padding: 30px;background: rgba(162, 162, 162, 0.1);margin: 0 15px;border-radius: 30px;overflow: hidden;border: 1px solid #4d4e62;}
.pad-block {padding:95px 0;}
.coin-logo {width: 115px;height: 115px;background: rgba(1,230,173,1);background: -moz-linear-gradient(-45deg, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(1,230,173,1)), color-stop(100%, rgba(0,178,232,1)));background: -webkit-linear-gradient(-45deg, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);background: -o-linear-gradient(-45deg, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);background: -ms-linear-gradient(-45deg, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);background: linear-gradient(135deg, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01e6ad', endColorstr='#00b2e8', GradientType=1 );border-radius: 100%;margin: 0 auto;position: relative;margin-top: -80px;border: 4px solid #fff;}
.coin-box h2 {font-size: 48px;color: #fff;text-align: center;margin: 15px 0 20px 0;}
.coin-box p {color: #ececec;text-align: center;font-size: 14px;margin: 0;line-height: 25px;}
.back-profile {margin: -31px;height: 160px;filter: blur(1px);background-size: cover;background-position: center center;z-index: -1;position: relative;}
@keyframes jackInTheBox{0%{opacity:0;transform:scale(.1) rotate(30deg);transform-origin:center bottom}50%{transform:rotate(-10deg)}70%{transform:rotate(3deg)}to{opacity:1;transform:scale(1)}}
.coin-logo:after {content: "";background-image: url(/images/profile-back.png);position: absolute;height: 160px;width: 160px;background-position: center center;animation: jackInTheBox 2s infinite;top: -25px;right: -25px;z-index: -1;}
.title h3 {color: #fff;font-size: 62px;text-align: center;letter-spacing: 10px; position: relative;margin: 0;}
.title h3:after {content: "";background-image: url(/images/title-shadow.png);position: absolute;height: 10px;width: 100%;bottom: -40px;left: 0;right: 0;background-repeat: no-repeat;background-position: center center;background-size: 100%;}
.news-img {height: 300px;background-size: cover;background-position: center center;box-shadow: -5px -5px 10px 5px rgba(0,0,0,0.3);border-radius: 10px;}
.title {margin-bottom: 100px;}
.boder-box {border: 3px #07a5a1;border-style: dashed;padding: 20px;}
.description h4 {font-size: 66px;color: #fff;}
.description p{color: #ececec; font-size: 14px;line-height: 30px;}
.description a {display: inline-block;
background: rgba(1,230,173,1);
background: -moz-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(1,230,173,1)), color-stop(100%, rgba(0,178,232,1)));
background: -webkit-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);
background: -o-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);
background: -ms-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);
background: linear-gradient(to right, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01e6ad', endColorstr='#00b2e8', GradientType=1 );
color: #fff;
padding: 15px 35px;
font-size: 20px;
border-radius: 30px;
margin-top: 50px;
box-shadow: 0px 0px 15px 10px rgba(76, 234, 232, 0.2);
transition: all 0.3s;
}
.description a:hover {background: #00b7e4;box-shadow: none;}
.mr-20 {margin-bottom: 50px;}
.right-side .description {text-align: right;}
.token .coin-box {border-radius: 0;}
.token .back-profile{height: 220px;}
.token .coin-box h2{font-size: 34px;margin-bottom: 15px;}
.token .coin-box h5 {font-size: 48px;margin: 0;color: #00c1d7;text-align: center;margin-bottom: 20px;}

.coin-box{text-align: center;}
.coin-box a {display: inline-block;background: rgba(1,230,173,1);background: -moz-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);background: -webkit-gradient(left top, right top, color-stop(0%, rgba(1,230,173,1)), color-stop(100%, rgba(0,178,232,1)));background: -webkit-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);background: -o-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);background: -ms-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);background: linear-gradient(to right, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01e6ad', endColorstr='#00b2e8', GradientType=1 );color: #fff;padding: 15px 35px;font-size: 20px;border-radius: 30px;margin-top: 25px;box-shadow: 0px 0px 15px 10px rgba(76, 234, 232, 0.2);transition: all 0.3s;}
.coin-box a:hover{box-shadow: 0px 0px 0px 0px rgba(76, 234, 232, 0.2);background: #00b4e7;}
.newsletter {background-image: url('/images/newsletter.jpg');background-size: cover;background-position: center center;height: 600px;box-shadow: 0px 10px 50px 2px rgba(0,0,0,0.8);}
.newsletter-tag .form-control {border-radius: 0;padding: 8px 15px;height: 80px;background-color: transparent;border: 5px solid #fff;color: #fff;font-size: 26px;border-right: 0;}
.newsletter-tag button.btn.btn.default {border-radius: 0;background: #fff;padding: 8px;border: 5px solid transparent;height: 80px;width: 105px;}
.newsletter-tag button.btn.btn.default img {width: auto;height: 60px;}
.newsletter-tag button.btn.btn.default:hover{background-color: transparent;border:  5px solid #fff;}
.newsletter-tag .form-group {margin-bottom: 0;width: calc(100% - 105px);float: left;}
.inside h2 {font-size: 73px;color: #fff;text-align: center;margin: 0;margin-bottom: 15px;}
.inside h4 {font-size: 60px;text-align: center;color: #fff;margin-bottom: 100px;}

.right-side {display: flex;flex-flow: row-reverse;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;flex-flow: row-reverse;}
.bg-foot {padding: 90px 0px;position: relative;}
.bg-foot h2 {color: #fff;font-size: 28px;margin: 0;margin-top: 15px;margin-bottom: 30px;}
.desc-view > p {font-size: 28px;color: #fff;margin-top: 20px;}
.desc-view p {font-size: 23px;color: #fff;margin-bottom: 10px;}
.address img {margin-right: 10px;width: 30px;}
.news-tag a {color: #00b090;font-size: 20px;}
.news-tag a:hover{color: #fff;}
.news-tag a img{margin-right: 10px;}
.news-tag p {font-size: 14px;color: #fff;margin-top: 10px;}
.news-tag {margin-bottom: 20px;}
ul.links a {color: #fff;font-size: 22px;margin-bottom: 15px;display: inline-block;}
ul.links a:hover{color:#00b090;}
ul.links a img {margin-right: 10px;}

.bg-foot:after{background-image: url('/images/foot-back-bg.png');content: "";position: absolute;left: 0;right: 0;width: 100%;height: 200px;bottom: 0;background-size: cover;z-index: -1;}


ul.scoial-view {text-align: center;margin-top: 80px;}
ul.scoial-view li {display: inline-block;width: 100px;height: 50px;position: relative;}
ul.scoial-view li a{display: block;}
.circle-1 {animation: rotateCircle 3s ease-in-out 0.3s infinite;background-image: url(/images/blue-circle.png);height: 82px;width: 82px;background-repeat: no-repeat;}
.circle-2 {animation: rotateCircle 3s ease-in-out 0.2s infinite;background-image: url(/images/green-circle.png);height: 82px;width: 82px;background-repeat: no-repeat;position: absolute;top: 0;}
ul.scoial-view li a:hover .circle-1,ul.scoial-view li a:hover .circle-2{animation-play-state: paused;}
.fix-view-banner {background-image: url(/images/banner-3.png);min-height: 100vh;position: relative;background-size: cover;background-position: center center;padding:100px 0;  display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;align-items: center;background-attachment: fixed;}
.login-view {padding: 50px auto;border: 2px dashed #03a3d6;border-radius: 30px;max-width: 800px;margin: 0 auto;}
.input {position: relative;display: inline-block;width: 100%;overflow: hidden;vertical-align: top;border: 0;box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.2);border-radius: 3px;-webkit-transition: all 0.3s ease;-o-transition: all 0.3s ease;transition: all 0.3s ease;margin: 0 0 25px;border-radius: 40px;}
.input.input-filled {box-shadow: 0px 0px 10px 2px rgba(0, 180, 230,0.5);}
.input.no-mr{margin:0;}
.input.last{margin:0;}
.input-field {position: relative;display: block;padding: 20px 30px 20px;width: 100%;border: none;border-radius: 20px;background: none;z-index: 1;color: #fff;font-weight: 400;font-size: 16px;line-height: 20px;-webkit-appearance: none;-webkit-transition: all 0.3s ease;-o-transition: all 0.3s ease;transition: all 0.3s ease;}
.input-field:focus {outline: none;}
.input-label {position: absolute;top: 0;left: 0;font-size: 14px;line-height: 20px;font-weight: 400;padding: 0;width: 100%;height: 100%;background: rgba(255,255,255,0.3);text-align: left;color: #fff;padding: 20px 35px;font-size: 16px;-webkit-transition: all 0.3s ease;-o-transition: all 0.3s ease;transition: all 0.3s ease;}
.input-field:focus + .input-label, .input-filled .input-label {padding: 2px 30px;font-size: 12px;color: #00b7e4;}

@keyframes rotateCircle{
0% {
    transform: rotate(-45deg);
}
80% {
    transform: rotate(calc(3turn - 20deg));
}
90% {
    transform: rotate(calc(3turn - 45deg));
}
100% {
    transform: rotate(calc(3turn - 45deg));
}
}

.animtied {position: absolute;top: -16px;left: 10px;}
.login-view {padding: 50px;border: 2px dashed #03a3d6;margin-top: 50px;}
.submit-btn {
    text-align: center;
}
button.submit-btn {
    background: rgba(1,230,173,1);
    background: -moz-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(1,230,173,1)), color-stop(100%, rgba(0,178,232,1)));
    background: -webkit-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);
    background: -o-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);
    background: -ms-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);
    background: linear-gradient(to right, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01e6ad', endColorstr='#00b2e8', GradientType=1 );
    color: #fff;
    border-radius: 90px;
    font-size: 20px;
    line-height: 58px;
    text-transform: uppercase;
    margin-top: 10px;
    box-shadow: 0px 0px 15px 10px rgba(76, 234, 232, 0.4);
    transition: all 0.3s;
    width: 320px;
    border: 0;
    display: inline-block;
}
button.submit-btn:hover{box-shadow: none;box-shadow: 0px 0px 15px 0px rgba(76, 234, 232, 0.4);background: rgba(0,178,232,1);background: -moz-linear-gradient(left, rgba(0,178,232,1) 0%, rgba(1,230,173,1) 100%);background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,178,232,1)), color-stop(100%, rgba(1,230,173,1)));background: -webkit-linear-gradient(left, rgba(0,178,232,1) 0%, rgba(1,230,173,1) 100%);background: -o-linear-gradient(left, rgba(0,178,232,1) 0%, rgba(1,230,173,1) 100%);background: -ms-linear-gradient(left, rgba(0,178,232,1) 0%, rgba(1,230,173,1) 100%);background: linear-gradient(to right, rgba(0,178,232,1) 0%, rgba(1,230,173,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b2e8', endColorstr='#01e6ad', GradientType=1 );}
a.facebook {
    background: #0054a6;
    padding: 18px 5px;
    display: block;
    width: calc(50% - 15px);
    border-radius: 40px;
    text-align: center;
    color: #fff;
    font-size: 17px;
}
a.facebook:hover {background: #fff;color: #0054a6;}
a.google{background: #ff5e5e;padding: 18px 5px;display: block;width: calc(50% - 15px);border-radius: 40px;text-align: center;color: #fff; font-size: 17px;float: right;}
a.google:hover {background: #fff;color: #ff5e5e;}
.social {margin-top: 40px;}
.social a {display: inline-block;transition: all 0.4s;}

#particles-js {position: absolute;top: 0;left: 0;right: 0;bottom: 0;z-index: 9;}


/*form styles*/
#msform {width: 1100px;margin: 50px auto;text-align: center;position: relative;min-height: 800px;}

#msform fieldset {
    background: transparent;
    border: 0 none;
    border-radius: 30px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    position: absolute;
    overflow: auto;
    border: 2px dashed #03a3d6;
    margin-bottom: 60px;
}
/*Hide all except first fieldset*/#msform fieldset:not(:first-of-type) {display: none;}



/*buttons*/
#msform .action-button {
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 30px;
    cursor: pointer;
    padding: 18px 80px;
    margin: 10px 5px;
    outline: none;
    background: rgba(1,230,173,1);
    background: -moz-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(1,230,173,1)), color-stop(100%, rgba(0,178,232,1)));
    background: -webkit-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);
    background: -o-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);
    background: -ms-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);
    background: linear-gradient(to right, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01e6ad', endColorstr='#00b2e8', GradientType=1 );
    color: #fff;
    font-size: 16px;
    box-shadow: 0px 0px 15px 10px rgba(76, 234, 232, 0.4);
}

#msform .action-button:hover, #msform .action-button:focus {box-shadow: 0px 0px 15px 0px rgba(76, 234, 232, 0.4);
    background: rgba(0,178,232,1);
    background: -moz-linear-gradient(left, rgba(0,178,232,1) 0%, rgba(1,230,173,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,178,232,1)), color-stop(100%, rgba(1,230,173,1)));
    background: -webkit-linear-gradient(left, rgba(0,178,232,1) 0%, rgba(1,230,173,1) 100%);
    background: -o-linear-gradient(left, rgba(0,178,232,1) 0%, rgba(1,230,173,1) 100%);
    background: -ms-linear-gradient(left, rgba(0,178,232,1) 0%, rgba(1,230,173,1) 100%);
    background: linear-gradient(to right, rgba(0,178,232,1) 0%, rgba(1,230,173,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b2e8', endColorstr='#01e6ad', GradientType=1 );}/*headings*/
.fs-title {font-size: 18px;text-transform: uppercase;color: #00b7e4;margin-bottom: 10px;font-weight: 600;}
.fs-subtitle {font-weight: normal;font-size: 13px;color: #01e1b2;margin-bottom: 20px;}
/*progressbar*/
#progressbar {margin-bottom: 30px;overflow: hidden;/*CSS counters to number the steps*/counter-reset: step;}
#progressbar li {list-style-type: none;color: #888888;text-transform: uppercase;font-size: 12px;width: 25%;float: left;position: relative;font-weight: 600;}
#progressbar li:before { content: counter(step);counter-increment: step;width: 50px;line-height: 50px;display: block;font-size: 16px;color: #00b7e2;background: rgba(255,255,255,0.2);border-radius: 100%;margin: 0 auto 5px auto;z-index: 9;position: relative}
/*progressbar connectors*/
#progressbar li:after {content: '';width: 100%;height: 2px;background: transparent;position: absolute;left: -50%;top: 25px;z-index: 1;}
#progressbar li:first-child:after {/*connector not needed before the first step*/content: none; }
/*marking active/completed steps green*//*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{color: white;background: rgba(1,230,173,1);background: -moz-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);background: -webkit-gradient(left top, right top, color-stop(0%, rgba(1,230,173,1)), color-stop(100%, rgba(0,178,232,1)));background: -webkit-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);background: -o-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);background: -ms-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);background: linear-gradient(to right, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01e6ad', endColorstr='#00b2e8', GradientType=1 );}

#progressbar li.active {color: #00b7e4;}



.frm-wrap .frm-line {margin: 0 0px 25px;float: left;width: 100%;}
.frm-wrap .frm-half {width: 50%;float: left;padding: 0 10px;}
.frm-wrap .form-control {background-color: rgba(255,255,255,0.3);border: 0;box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.2);border-radius: 40px;min-height: 65px;color: #fff;font-size: 16px;padding: 15px 30px 15px;}
.frm-wrap .form-group {margin-bottom: 25px;}
.frm-wrap .frm-third {width: 33.33%;float: left;padding: 0 10px;}
.upload-view {position: relative;height: 65px;text-align: center;line-height: 65px;border: 1px dotted #00b7e4;cursor: pointer;font-size: 16px;color: #ffffff;transition: all 0.3s;border-radius: 40px;box-shadow: 0px 0px 10px 2px rgba(0, 180, 230,0.5);}
.upload-view input[type="file"] {position: absolute;top: 0;left: 0;width: 100%;opacity: 0;cursor: pointer;}
.upload-view:hover {box-shadow: 0px 0px 10px 2px rgba(255, 255, 255,0.5);border-color: #fff;}
.frm-wrap .form-control option {color: #333;padding: 10px;}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {width: 100%;}.bootstrap-select>.dropdown-toggle {width: 100%;padding-right: 25px;z-index: 1;background-color: rgba(255,255,255,0.3);border: 0;box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.2);border-radius: 40px;min-height: 65px;color: #fff !important;font-size: 16px;padding: 15px 30px 15px;outline: none;}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default{background-color: transparent !important;box-shadow: 0px 0px 10px 2px rgba(0, 180, 230,0.5) !important;outline: none !important;}
.frm-wrap  .form-group label {display: block;text-align: left;padding-left: 30px;color: #fff;font-weight: 400;font-size: 16px;}


#msform textarea.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */color: #fff;}
#msform textarea.form-control::-moz-placeholder { /* Firefox 19+ */color: #fff;}
#msform textarea.form-control:-ms-input-placeholder { /* IE 10+ */color: #fff;}
#msform textarea.form-control:-moz-placeholder { /* Firefox 18- */color: #fff;}

#owl  .owl-item {height: 100%;overflow: hidden;}
#owl  .owl-wrapper-outer{height: 100%;}
#owl .item {height: 100%;position: relative;}
#owl  .owl-wrapper{height: 100%;}

.coin-list .fix-view {min-height: 45vh;}
.coin-list .banner h1 {font-size: 50px;margin-top: 90px;}
.coin-list .banner p {font-size: 24px;}
.coin-list  .banner a {display: block;width: 275px;text-align: center;height: 65px;font-size: 24px;line-height: 65px;text-transform: uppercase;margin-top: 15px;}
.coin-img {display: inline-block;width: 120px;height: 120px;border-radius: 100%;overflow: hidden;position: relative;}
.coin{padding: 50px 0;}
.coin-img img {width: auto;height: 100%;}
span.coin-deatisl{width: calc(100% - 250px);display: inline-block;padding-left: 40px;padding-right: 20px;}
.coin > ul > li {margin-bottom: 50px;padding: 15px 40px;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;background: rgba(162, 162, 162, 0.1);border: 0;transition: all 0.4s;}
.coin > ul > li:hover {box-shadow: 0 19px 38px rgba(162, 162, 162, 0.1), 0 15px 12px rgba(162, 162, 162, 0.1);transform: scale(1.1);}
.outerCircle {background-color: transparent;border: 8px solid rgb(14, 179, 164);opacity: .9;border-right: 5px solid transparent;border-left: 5px solid transparent;border-radius: 100px;width: 120px;height: 120px;margin: 0 auto;-moz-animation: spinPulse 3s infinite ease-in-out;-webkit-animation: spinPulse 3s infinite ease-in-out;position: absolute;top: 0;}
.innerCircle {background-color: transparent;border: 5px dashed #01ddb8;opacity: 0.7;border-left: 5px solid transparent;border-right: 5px solid transparent;border-radius: 100px;top: 11.5px;width: 95px;height: 95px;margin: 0 auto;position: absolute;-moz-animation: spinoffPulse 1s infinite linear;-webkit-animation: spinoffPulse 1s infinite linear;left: 11.5px;}
a.theme-btn {display: inline-block;background: rgba(1,230,173,1);background: -moz-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);background: -webkit-gradient(left top, right top, color-stop(0%, rgba(1,230,173,1)), color-stop(100%, rgba(0,178,232,1)));background: -webkit-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);background: -o-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);background: -ms-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);background: linear-gradient(to right, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01e6ad', endColorstr='#00b2e8', GradientType=1 );color: #fff;padding: 15px 25px;border-radius: 30px;margin-top: 25px;box-shadow: 0px 0px 15px 10px rgba(76, 234, 232, 0.2);transition: all 0.3s;font-size: 16px;}

a.theme-btn:hover{box-shadow: 0px 0px 15px 0px rgba(76, 234, 232, 0.4);background: rgba(0,178,232,1);background: -moz-linear-gradient(left, rgba(0,178,232,1) 0%, rgba(1,230,173,1) 100%);background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,178,232,1)), color-stop(100%, rgba(1,230,173,1)));background: -webkit-linear-gradient(left, rgba(0,178,232,1) 0%, rgba(1,230,173,1) 100%);background: -o-linear-gradient(left, rgba(0,178,232,1) 0%, rgba(1,230,173,1) 100%);background: -ms-linear-gradient(left, rgba(0,178,232,1) 0%, rgba(1,230,173,1) 100%);background: linear-gradient(to right, rgba(0,178,232,1) 0%, rgba(1,230,173,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b2e8', endColorstr='#01e6ad', GradientType=1 );}

@-moz-keyframes spinPulse {
    0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #bdd73c;}
    50% { -moz-transform:rotate(145deg); opacity:1; }
    100% { -moz-transform:rotate(-320deg); opacity:0; }
}
@-moz-keyframes spinoffPulse {
    0% { -moz-transform:rotate(0deg); }
    100% { -moz-transform:rotate(360deg);  }
}
@-webkit-keyframes spinPulse {
    0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #bdd73c; }
    50% { -webkit-transform:rotate(145deg); opacity:1;}
    100% { -webkit-transform:rotate(-320deg); opacity:0; }
}
@-webkit-keyframes spinoffPulse {
    0% { -webkit-transform:rotate(0deg); }
    100% { -webkit-transform:rotate(360deg); }
}
@-moz-keyframes rotatecircle {
    0% { -moz-transform:rotate(0deg); }
    100% { -moz-transform:rotate(-360deg); }
}

@-webkit-keyframes rotatecircle {
    0% { -webkit-transform:rotate(0deg); }
100% { -webkit-transform:rotate(-360deg); }
}


.back-banner-tag {height: 45vh;width: 100%;background-size: cover;background-position: center center;    background-attachment: fixed;}
.fix-view.profile-view:after {content: "";background: rgba(1,230,173,1);background: -moz-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);background: -webkit-gradient(left top, right top, color-stop(0%, rgba(1,230,173,1)), color-stop(100%, rgba(0,178,232,1)));background: -webkit-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);background: -o-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);background: -ms-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);background: linear-gradient(to right, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01e6ad', endColorstr='#00b2e8', GradientType=1 );position: absolute;bottom: 0;height: 10px;width: 100%;}
.pro-img {width: 180px;height: 180px;border-radius: 100%;overflow: hidden;display: inline-block;position: relative;margin-top: -90px;z-index: 9;}
.pro-img:after {content: "";content: "";background: rgba(1,230,173,1);background: -moz-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);background: -webkit-gradient(left top, right top, color-stop(0%, rgba(1,230,173,1)), color-stop(100%, rgba(0,178,232,1)));background: -webkit-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);background: -o-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);background: -ms-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);background: linear-gradient(to right, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01e6ad', endColorstr='#00b2e8', GradientType=1 );position: absolute;bottom: 0;height: 180px;border-radius: 100%;width: 180px;z-index: -1;left: 0;}
.profile-tag {text-align: center;    margin-bottom: 60px;}
.pro-img img {width: 100%;transform: scale(0.9);border-radius: 100%;}
.profile-tag h2 {text-align: center;text-transform: uppercase;color: #ffffff;font-size: 50px;letter-spacing: 1px;}
span.coin-deatisl h2 {margin: 15px 0px;color: #fff;font-size: 32px;font-weight: 700;letter-spacing: 2px;}
.coin ul.coin-rate {max-width: 400px;border-top: 1px solid #393a48;border-bottom: 1px solid #393a48;margin-bottom: 10px;}
.coin ul.coin-rate li {display: inline-block;transition: all 0.6s ease 0s;font-size: 13px;font-weight: 600;}
.coin ul.coin-rate li.comments {float: right;}
.coin ul.coin-rate li {display: inline-block;transition: all 0.6s ease 0s;font-size: 13px;font-weight: 400;color: #00b8e3;}
.coin > ul > li p {color: #9c9da5;}
ul.rates-view li {display: inline-block;margin: 0 10px;}
ul.rates-view li a {color: #fff;}
ul.rates-view li .fa {font-size: 34px;}
ul.rates-view li.active .fa {color: #01e4af;}
ul.rates-view {margin-top: 20px;}


.back-bg-view {background-image: url(/images/back-banner.jpg);padding: 80px 0;background-size: cover;background-position: bottom center;background-attachment: fixed;}
.grad-bg {
    height: 70px;
    line-height: 70px;
    color: #fff;
    border-radius: 40px;
    font-size: 20px;
    padding: 0 30px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 10px 2px rgba(0, 180, 230,0.5);
    background: rgba(0,0,0,0.2);
}
.grad-bg > span {color: #00b7e4;margin-left: 20px;}
.transperent.wrapper {float: left;width: 100%;background: rgba(162, 162, 162, 0.2);padding: 30px;}

/*clock-css*/
.clock.flip-clock-wrapper {display: inline-block;margin: 0;width: auto;border: 2px dashed #00b8e4;padding: 50px;border-radius: 50px;}
.clock-set .flip-clock-wrapper ul li a div div.inn {position: absolute;left: 0;z-index: 1;width: 100%;height: 200%;color: #ccc;text-shadow: 0 1px 2px #000;text-align: center;background-color: #1c1d2f;border-radius: 6px;font-size: 70px;}
.clock-set {text-align: center;padding: 150px 0;float: left;width: 100%;}
.clock-set .flip-clock-wrapper .flip{box-shadow: 0px 0px 10px 2px rgba(0, 180, 230,0.5);}
.clock-set .flip-clock-wrapper ul li a div div.inn{color: #00b7e4;}
.clock-set .flip-clock-divider .flip-clock-label{color: #bfbfbf;}
.coin-logo img{border-radius: 100%;}
.flip-clock-dot{background: #1d9a92;}


.frames h2 {margin: 0;color: #fff;margin-bottom: 20px;font-size: 60px;}
.frames p {font-size: 16px;font-weight: 100;line-height: 30px;}


ul.linking li {display: inline-block;margin: 0 15px;}
ul.linking {text-align: center;}
ul.linking li a {background: rgba(1,230,173,1);background: -moz-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);background: -webkit-gradient(left top, right top, color-stop(0%, rgba(1,230,173,1)), color-stop(100%, rgba(0,178,232,1)));background: -webkit-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);background: -o-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);background: -ms-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);background: linear-gradient(to right, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01e6ad', endColorstr='#00b2e8', GradientType=1 );color: #fff;padding: 15px 35px;font-size: 20px;border-radius: 30px;margin-top: 25px;box-shadow: 0px 0px 15px 10px rgba(76, 234, 232, 0.2);transition: all 0.3s;display: inline-block;}
ul.media-social {float: left;width: 100%;text-align: center;margin-top: 100px;}
ul.linking li a:hover{
        box-shadow: 0px 0px 15px 0px rgba(76, 234, 232, 0.4);
    background: rgba(0,178,232,1);
    background: -moz-linear-gradient(left, rgba(0,178,232,1) 0%, rgba(1,230,173,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,178,232,1)), color-stop(100%, rgba(1,230,173,1)));
    background: -webkit-linear-gradient(left, rgba(0,178,232,1) 0%, rgba(1,230,173,1) 100%);
    background: -o-linear-gradient(left, rgba(0,178,232,1) 0%, rgba(1,230,173,1) 100%);
    background: -ms-linear-gradient(left, rgba(0,178,232,1) 0%, rgba(1,230,173,1) 100%);
    background: linear-gradient(to right, rgba(0,178,232,1) 0%, rgba(1,230,173,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b2e8', endColorstr='#01e6ad', GradientType=1 );
}
ul.linking {text-align: center;float: left;width: 100%;margin-top: 100px;}

ul.media-social li {display: inline-block;margin: 0 30px}
ul.media-social li a {display: inline-block;position: relative;}

ul.media-social li a {
    display: inline-block;
    position: relative;
}
ul.media-social li a:hover:after{
    animation-play-state: paused;
}

ul.media-social li a:after {
    position: absolute;
    background-image: url(/images/ring.png);
    content: "";
    width: 85px;
    height: 85px;
    background-size: contain;
    top: -17px;
    left: -17px;
    animation: rotateCircle 3s ease-in-out 0.2s infinite;
}
.token .item img,.coin-white-box .item img{
    border-radius: 100%;
}
.hidden-view img {
    border-radius: 0 !important;
    height: 100%;
    width: auto !important;
}
.hidden-view {
    overflow: hidden;
    height: 105px;
    width: 105px;
    margin-top: 0;
    border-radius: 100%;
}
.remember{float:left;}
.checkbox,.radio{margin:0;}
.checkbox label,.radio label{margin:0;line-height:normal;}

.checkbox label,.radio label{display:inline-block;vertical-align:0px;font-weight:400;cursor: pointer;padding-left:0;}
.checkbox input[type=checkbox]{display:none;}
.checkbox.remember {color: #fff;}
.checkbox input[type=checkbox] + span {display:inline-block;width:18px;height:18px;vertical-align:-4px;border-radius:2px;border:solid 2px #00b7e4;margin:0 10px 0 0;position:relative;}
.checkbox input[type=checkbox]:checked + span:after{content:'';position:absolute;top:3px;left:3px;height:8px;width:8px;background:#00b7e4;}
.box-full-view{float: left;width: 100%;margin-bottom: 20px;}
a.link.forgot {float: right;}

.comment-box {margin-top: 80px;float: left;width: 100%;}
.user-review h6 {margin: 0;font-size: 20px;color: #00b6e4;font-weight: 500;margin-bottom: 8px;}
.user-review p {color: #ffffff;font-size: 16px;max-width: 600px;}
.user-icon {width: 80px;height: 80px;border-radius: 100%;overflow: hidden;display: inline-block;float: left;}
.user-icon img {width: 100%;}
.user-review {float: right;width: calc(100% - 80px);padding-left: 20px;position: relative;}
.comment-box > ul > li {border-bottom: 1px solid #1f203c;padding: 20px 15px;float: left;width: 100%;}
.comment-box .date {color: #595a76;position: absolute;right: 0;bottom: -10px;}

.user-review ul.rates-view li .fa{font-size: 16px;}
.user-review ul.rates-view li {margin: 0 2px;}
.user-review ul.rates-view {margin: 0;margin-bottom: 5px;}
.comment-box .date .fa {margin-right: 5px;}
.post-comment textarea,.reply-box textarea  {background: transparent;width: 100%;border: 1px solid #00b6e4;padding: 15px;color: #01e4af;border-radius: 15px;outline: none;}
.post-comment textarea::-webkit-input-placeholder,.reply-box textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */color: #01e4af;}
.post-comment textarea::-moz-placeholder,.reply-box textarea::-moz-placeholder { /* Firefox 19+ */color: #01e4af;}
.post-comment textarea:-ms-input-placeholder,.reply-box textarea:-ms-input-placeholder { /* IE 10+ */color: #01e4af;}
.post-comment textarea:-moz-placeholder,.reply-box textarea:-moz-placeholder { /* Firefox 18- */color: #01e4af;}
button.custom-btn {
background: rgba(1,230,173,1);
background: -moz-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(1,230,173,1)), color-stop(100%, rgba(0,178,232,1)));
background: -webkit-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);
background: -o-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);
background: -ms-linear-gradient(left, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);
background: linear-gradient(to right, rgba(1,230,173,1) 0%, rgba(0,178,232,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01e6ad', endColorstr='#00b2e8', GradientType=1 );
color: #fff;
padding: 15px 70px;
font-size: 20px;
border-radius: 30px;
margin-top: 8px;
box-shadow: 0px 0px 15px 10px rgba(76, 234, 232, 0.2);
transition: all 0.3s;
display: inline-block;
border: 0;
}
button.custom-btn:hover{
box-shadow: 0px 0px 15px 0px rgba(76, 234, 232, 0.4);
    background: rgba(0,178,232,1);
    background: -moz-linear-gradient(left, rgba(0,178,232,1) 0%, rgba(1,230,173,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,178,232,1)), color-stop(100%, rgba(1,230,173,1)));
    background: -webkit-linear-gradient(left, rgba(0,178,232,1) 0%, rgba(1,230,173,1) 100%);
    background: -o-linear-gradient(left, rgba(0,178,232,1) 0%, rgba(1,230,173,1) 100%);
    background: -ms-linear-gradient(left, rgba(0,178,232,1) 0%, rgba(1,230,173,1) 100%);
    background: linear-gradient(to right, rgba(0,178,232,1) 0%, rgba(1,230,173,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b2e8', endColorstr='#01e6ad', GradientType=1 );
}
.post-comment {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.post-comment .form-group {
    width: calc(100% - 195px);
    float: left;
    vertical-align: top;
    margin-right: 15px;
        margin-bottom: 0;
}

.dropdown-menu.open {
    background: rgba(0,0,0,0.6);
}
#msform ul.dropdown-menu.inner {
    background: rgba(0,0,0,0.6);
}
#msform ul.dropdown-menu.inner li a {
    color: #00afda;
    padding: 5px 20px;
}
#msform .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{text-decoration: none;background-color: #00d9bc;color: #fff !important;}

.in-title {color: #fff;text-align: left;padding-left: 25px;font-size: 18px;margin-bottom:15px;}
.release-round label {text-align: left;display: block;font-size: 14px;color: #fff;padding-left: 15px;}
.release-round span.input-group-addon {background: rgba(255,255,255,0.4);border: 0;padding: 0 25px;border-bottom-right-radius: 40px !important;border-top-right-radius: 40px !important;color:#fff;pointer-events:none;}

ul.replay {float: left;width: 100%;padding-left: 80px;margin-top: 20px;}
ul.replay > li {float: left;width: 100%;margin-bottom: 15px;}
.link-unlike{font-size: 17px;}
.link-unlike .glyphicon.glyphicon-thumbs-up {color: #01e4af;}
.link-unlike .glyphicon.glyphicon-thumbs-down {
color: #f31f08;
}
.like {
color: #01e4af;
vertical-align: text-bottom;
display: inline-block;
margin-right: 10px;
}
.dislike {
color: #f31f08;
vertical-align: text-bottom;
display: inline-block;
margin-right: 15px;
}
.link-unlike .glyphicon {
margin-right: 4px;
cursor: pointer;
}

.replay .user-icon {width: 65px;height: 65px}
.replay .user-review {width: calc(100% - 65px);}
.replay .user-review h6{font-size: 18px;}
.replay .user-review p{font-size:14px;}

.admin-coin .nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    background: rgba(162,162,162,0.1);
    color: #00b7e4;
    font-size: 18px;
    padding: 15px 30px;
    margin-right: 15px;
}
.admin-coin .nav-tabs {
    border-bottom: 1px solid #1f203c;
}
.admin-coin .tab-content h3 {
    margin: 0;
    color: #fff;
    font-size: 22px;
    padding-bottom: 20px;
}
.admin-coin .tab-content {
    padding: 20px;
    border: 1px solid #1f203c;
}
.admin-coin .nav-tabs>li.active>a, .admin-coin .nav-tabs>li.active>a:focus, .admin-coin .nav-tabs>li.active>a:hover {
    background: #0000;
    border: 1px solid #1f203c;
    color: #00b7e4;
    color: #fff;
}
.admin-coin .tab-content {
    padding: 20px;
    border: 1px solid #1f203c;
    background: #0b0c21;
    position: relative;
    border-top: 0;
}
.admin-coin .table>tbody>tr>td, .admin-coin .table>tbody>tr>th, .admin-coin .table>tfoot>tr>td, .admin-coin .table>tfoot>tr>th, .admin-coin .table>thead>tr>td, .admin-coin .table>thead>tr>th {
    padding: 15px;
    vertical-align: top;
    border-top: 1px solid #1f203c;
        color: #00d2b8;
    font-size: 16px;
    font-weight: 100;
}
.admin-coin .table>thead>tr>th{
    border-bottom: 2px solid #1f203c;
        font-size: 18px;
    color: #00a6cf;
}
.table-hover>tbody>tr:hover {
    background-color: rgba(128, 128, 128, 0.1);
}

.dataTables_length,div.dataTables_wrapper div.dataTables_filter label,div.dataTables_wrapper div.dataTables_info {
    color: #6b6b6b;
}
a.approve {
    background: #5a920e;
    color: #fff;
    padding: 5px 15PX;
    border-radius: 20px;
    font-size: 14px;
    line-height: 16px;
}
a.decline{
      background: #923001;
    color: #fff;
    padding: 5px 15PX;
    border-radius: 20px;
    font-size: 14px;
    line-height: 16px;
}
div.dataTables_wrapper div.dataTables_length select,div.dataTables_wrapper div.dataTables_filter input {
    width: auto;
    display: inline-block;
    margin: 0 5px;
    background: rgba(255,255,255,0.3);
    color: #fff;
    border: 0;
    padding: 12px 10px;
    height: auto;
}
div.dataTables_wrapper div.dataTables_length select option {
    color: #000;
}
span.reply {
    color: #595a76;
    border-left: 1px solid #595a76;
    padding-left: 15px;
    font-size: 16px;
    vertical-align: top;
    cursor: pointer;
}
span.reply {
    color: #595a76;
    border-left: 1px solid #595a76;
    padding-left: 15px;
    font-size: 16px;
    vertical-align: top;
    cursor: pointer;
    transition: all 0.4s;
}
span.reply:hover {
    color: #00b3e7;
}
.reply-box {
    margin-top: 10px;
    margin-bottom: 15px;
}
.reply-box {
    display: none;
}
.comment-box > ul > li.active .reply-box{display: block;}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #fff;
    cursor: not-allowed;
    background-color: #555564;
    border-color: #8787a5;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
        background-color: #00b7e4;
    border-color: #00b7e4;
}
.dataTables_wrapper .row:nth-child(2) {
    overflow: auto;
}
ul.round-view li {
    width: 33.33%;
    float: left;
}
ul.round-view{float: left;width: 100%;margin-top: 100px;}
.round-box {
    text-align: center;
    border: 1px dotted #00b7e4;
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    transition: all 0.3s;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px rgba(0, 180, 230,0.5);
    margin: 0 15px;
    padding: 15px;
    opacity: 0.4;
    cursor: no-drop;
}
.active .round-box {
    opacity: 1;
    cursor: pointer;
    border-color: #01e4af;
    box-shadow: 0px 0px 10px 2px rgb(9, 235, 201,0.5);
    color: #01e4af;
}
.round-box h1 {
    margin: 0;
    font-size: 32px;
}
.status {
    margin: 15px 0px;
    font-size: 20px;
}
.date-view {
    font-size: 20px;
}
.date-view span{color: #fff !important;margin: 0 8px;}
.error {
    text-align: left;
    color: #ff3a3a;
    margin-top: -15px;
    padding-left: 15px;
}




@media(min-width: 1900px){
    .container{width: 1600px;}
}

@media(min-width: 1620px){
    .container{width: 1400px;}
}

@media(max-width: 1199px){
    #msform{width: 100%;}
}

@media(max-width: 991px){
    .navbar-default .navbar-nav>li {margin-left: 20px;}
    .navbar-default .navbar-nav>li>a{padding: 15px;font-size: 18px;}
    .news-img {height: 280px;}
    .description h4 {font-size: 44px;}
    .description p{line-height: 22px;}
    .input-label {
    padding: 20px 20px;
    font-size: 14px;
}
.input-field {
    position: relative;
    display: block;
    padding: 20px 30px 20px;
    font-size: 14px;
}
.input-field:focus + .input-label, .input-filled .input-label {
    padding: 3px 25px;
    font-size: 13px;
    color: #00b7e4;
}
.frm-wrap .form-control,.bootstrap-select>.dropdown-toggle{font-size: 14px;min-height: 60px;}
.upload-view{ height: 65px;line-height: 65px;font-size: 14px;}
.clock.flip-clock-wrapper{padding: 40px;}

}


@media(max-width: 767px){
    .banner a {height: 90px;width: auto;font-size: 24px;line-height: 90px;padding: 0 50px;margin-top: 15px;}
    .right-side {display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-box-pack: center;-webkit-justify-content: center;-ms-flex-pack: center;flex-flow: column;}
    .description a{margin-top:15px;}
    .right-side .description {text-align: left;}
    .title h3{font-size: 38px;letter-spacing: 5px;}
    .banner h1 {font-size: 50px;}
    .token .coin-box h5{margin-bottom: 5px;}
    .coin-box a{margin-top: 15px;}
    .token .coin-box h2{margin-bottom: 0;}
    .navbar-default .navbar-nav{padding: 0 20px;}
    .navbar-default .navbar-nav li {margin-bottom: 15px;}
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {border-color: #00b7e3;background: #000;}
    .navbar-default .navbar-nav>li>a{text-align: center;}
    .inside h2 {font-size: 38px;}
    .inside h4{ font-size: 28px; margin-bottom: 50px;}
    .newsletter{height: 400px;}
    ul.scoial-view li{margin-bottom: 45px;}
    .login-view {padding: 30px 15px;border: 2px dashed #03a3d6;margin-top: 40px;}
    .desc-view {text-align: center;}
    .bg-foot .col-sm-4.col-xs-12 {text-align: center;    margin-bottom: 30px;}
    .animtied{left: 0;}
    ul.scoial-view li a{transform: scale(0.8);}
    ul.scoial-view li{width: 80px;}
    a.facebook,a.google{width: calc(50% - 5px);}
    .frm-wrap .frm-third {width: 100%;float: left;padding: 0;}
    .frm-wrap .frm-half {width: 100%;float: left;padding: 0;}
    #msform fieldset{width: 100%;margin:0;}
    .upload-view{margin-bottom: 15px;}
    #msform{min-height: 900px;}
    #progressbar li{font-size: 10px;}
    .navbar-default .navbar-nav>li {margin-left: 0;}
    .frm-wrap .frm-line {margin: 0;}
    .coin > ul > li{text-align: center;display: block;padding: 20px 15px;}
    span.coin-deatisl{width: 100%; padding: 0;}
    .coin-list .banner h1 {
    font-size: 34px;}
    .coin-list .banner p {font-size: 18px;}
    .pad-block {padding: 40px 0;}
    ul.scoial-view{margin-top: 30px}
    .bg-foot {padding: 40px 0px;}
    .coin-list .fix-view {min-height: 300px;}
    .coin ul.coin-rate{margin: 0 auto 10px;text-align: left;}
    .news-img {height: 200px;}
    .newsletter-tag button.btn.btn.default img {width: auto;height: 50px;}
    .newsletter-tag button.btn.btn.default{width: 80px;}
    .newsletter-tag .form-group{width: calc(100% - 80px);}
    .grad-bg{font-size: 16px;}
    .transperent.wrapper{padding: 30px 10px;}
    .frames {margin-bottom: 30px;}
    ul.linking{margin-top: 50px;}
    ul.media-social{margin-top: 70px;margin-bottom: 50px;}
    .pro-img,.pro-img:after{width: 140px;height: 140px;}
    .pro-img{margin-top: -70px;}
    .profile-tag h2{font-size: 36px;}
    ul.media-social li {display: inline-block;margin: 0 15px;}
    ul.media-social li a:after{width: 70px;height: 70px;top: -12px;left: -12px;}
    ul.linking li a{padding: 15px 22px;font-size: 18px;}
    .clock.flip-clock-wrapper{border: 0;padding: 0;}
    .user-icon {width: 60px;height: 60px;}
    .user-review{width: calc(100% - 60px);padding-left: 15px;padding-bottom: 15px;}
    .comment-box > ul > li{padding: 15px 0;}
    .user-review h6{font-size: 18px;}
    .user-review p{font-size: 14px;}
    .comment-box{padding: 30px 15px;}
    .comment-box {margin-top: 0;}
    .post-comment .form-group{width: 100%;}
    .post-comment{text-align: center;margin-bottom: 30px;}
    button.submit-btn{width: 260px;}
    .login-view .title {margin-bottom: 60px;}
    .login-view .title h3:after{bottom: -25px;}
    .dataTables_length {margin-bottom: 15px;}
    .admin-coin .table{width: 600px;}
    .admin-coin .nav-tabs>li>a{
        font-size: 15px;
    padding: 12px 20px;
    margin-right: 5px;
    }
    ul.round-view li {width: 100%;float: left;margin-bottom: 30px;}
    ul.replay{padding-left: 40px;}   

}

@media(max-width: 650px){
    span.flip-clock-divider.seconds + ul,span.flip-clock-divider.seconds + ul + ul,span.flip-clock-divider.seconds{display: none;}
    .flip-clock-wrapper ul{width:35px;height: 90px;margin:3px; }
    .clock-set .flip-clock-wrapper ul li a div div.inn{font-size: 45px;}
    .clock-set .flip-clock-divider .flip-clock-label{display: none;}
    .clock-set{padding: 50px 0;}
}
@media(max-width: 640px){
    .banner h1 {font-size: 40px;}
    .banner p {font-size: 18px;}
    .banner a {height: 90px;font-size: 20px;width: 220px;line-height: 90px;}
}
@media(max-width: 360px){
    .navbar-brand{padding: 15px 10px;}
    .navbar-toggle{margin-right: 10px;}
    .admin-coin .nav-tabs>li>a{padding: 12px 15px;}
}